# Snakemake temporary and metadata files
.snakemake/
*.snakemake.*
*.snakemake-tmp*
*.snakemake-tmp/

# Omit the contents of the following directories
tmp/*
!tmp/.gitkeep

results/*
!results/.gitkeep

metrics/*
!metrics/.gitkeep

logs/*
!logs/.gitkeep

# Pycache generated when running pytest
__pycache__/

# vscode settings files
.vscode/

# Temp files that exist while .xlsx files are open
config/~$component_level_metrics.xlsx
config/~$system_level_metrics.xlsx