# Snakemake temporary and metadata files
.snakemake/
*.snakemake.*
*.snakemake-tmp*
*.snakemake-tmp/

# Intermediate files generated while running pipeline
tmp/*
!tmp/.gitkeep

# During development, dont push results and metrics files to remote repo
results/*
!results/.gitkeep

metrics/*
!metrics/.gitkeep

# Pycache generated when running pytest
__pycache__/
